<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Set maximum request length to 1GB (1048576 KB) -->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Set maximum allowed content length to 1GB (1073741824 bytes) -->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
